body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(/img/Decore.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    
}

ul {
    list-style-type: none;
}


